@font-face {
    font-family: "SubHeader";
    src: url(./new-art-deco.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "title";
    src: url(./unispace.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CardTitle";
    src: url(./unispace.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Stars";
    src: url(./unispace.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ModalTitle";
    src: url(./unispace.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url(./Roboto-Bold.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url(./Roboto-Regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HeaderFont";
    src: url(./unispace.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Search';
    src: url('./search.eot?14882036');
    src: url('./search.eot?14882036#iefix') format('embedded-opentype'),
        url('./search.woff2?14882036') format('woff2'),
        url('./search.woff?14882036') format('woff'),
        url('./search.ttf?14882036') format('truetype'),
        url('./search.svg?14882036#search') format('svg');
    font-weight: normal;
    font-style: normal;
}