.stars {
    align-items: baseline;
    margin-top: 0.5em;
}

.star {
    height: 1.5em;
    width: 1.5em;
    stroke: #eeb829;
    fill: #eeb829;
}

.mask {
    width: inherit;
    height: inherit;
    fill: #ffffff;
    opacity: 0.7;
}

.views {
    font-family: 'CardTitle', Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin-left: 0.5em;
}

.score {
    color: #eeb829;
}