.header {
    background: #2b7a77;
    height: 56px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    /* transition: all .25s ease;
    transform: translateZ(0); */
}

.header+* {
    padding-top: 56px;
}

.header nav {
    justify-content: center;
    position: relative;
    width: 800px;
}

.header.isBack nav {
    justify-content: space-between;
}

.header nav a,
.header nav button {
    font-family: 'HeaderFont', Arial, Helvetica, sans-serif;
    display: inline-flex;
    position: relative;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    min-width: 50px;
    border: none;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0);
    text-decoration: none;
    font-size: 10px;
    color: #eee;
    cursor: pointer;
    align-items: center;
    border-radius: 0;
}

.header nav a:hover,
.header nav button:hover {
    background-color: hsla(0, 0%, 100%, .3);
}

.log svg {
    width: 2.5em !important;
    height: 2.5em !important;
    margin-right: 1.2em;
}