.header {
    background: #2b7a77;
    height: 3.5rem;
    width: 100%;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    /* transition: all .25s ease;
    transform: translateZ(0); */
}

.header+* {
    padding-top: 3.5rem;
}

.header nav {
    position: relative;
    width: 37.5rem;
}

.header.isBack nav {
    justify-content: space-between;
    width: 50rem;
}

.header nav a,
.header nav button {
    font-family: 'HeaderFont', Arial, Helvetica, sans-serif;
    display: inline-flex;
    position: relative;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 0.9375rem;
    min-width: 3.125rem;
    border: none;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0);
    text-decoration: none;
    font-size: 0.625rem;
    color: #eee;
    cursor: pointer;
    align-items: center;
    border-radius: 0;
}

.header nav a:hover,
.header nav button:hover {
    background-color: hsla(0, 0%, 100%, .3);
}

.log svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin-right: 0.8rem;
}