.footer {
    background: #f2f2f2;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #555;
    min-height: 10em;
}

.footer>*:first-child {
    min-height: 12vh;
}

.legal {
    margin-top: auto;
}

.emphase {
    font-weight: bold;
    text-transform: uppercase;
}