.note {
    opacity: 0.3;
    color: #eeb829;
    min-width: 1.5rem;
    min-height: 1.5rem;
    padding: 0;
}

.float {
    mask-image: linear-gradient(to right, #eeb829 var(--note), #eeb8294D 0%);
    -webkit-mask-image: linear-gradient(to right, #eeb829 var(--note), #eeb8294D 0%);
    opacity: 1;
}

.note svg {
    width: 1.9em !important;
    height: 1.9em !important;
}

.note:hover,
.note:hover~.note,
.selected {
    mask-image: none;
    -webkit-mask-image: none;
    opacity: 1;
}