.note {
    opacity: 0.3;
    color: #eeb829;
    min-width: 1.5rem;
    min-height: 1.5rem;
    padding: 0;
}

.float {
    mask-image: linear-gradient(to right, #eeb829 var(--note), #eeb8294D 0%);
    -webkit-mask-image: linear-gradient(to right, #eeb829 var(--note), #eeb8294D 0%);
    opacity: 1;
}

.note svg {
    width: 1.9em !important;
    height: 1.9em !important;
}

.score:hover .note:not(.readonly) {
    opacity: 0.3;
}

.note:hover:not(.readonly),
.note:hover~.note:not(.readonly),
.selected {
    mask-image: none;
    -webkit-mask-image: none;
    opacity: 1;
}

.note:hover:not(.readonly) {
    transform: scale(1.2);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    opacity: 1 !important;
}

.readonly {
    font-size: 0.8125rem;
}

.readonlyIcon {
    stroke: currentColor;
    fill: currentColor;
}