.simple {
    border-radius: 5px;
    border: 1px solid #2b7a77;
    padding: 0.5em 1.3em;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin-bottom: 2em;
}

.title {
    font-family: 'CardTitle', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.simple .content {
    display: flex;
    margin-top: 0.3em;
}

.simple .content>* {
    align-self: flex-start;
}

.simple .content.hasButton {
    margin-bottom: 0.5em;
}