.simple {
    border-radius: 0.3125rem;
    border: 0.0625rem solid #2b7a77;
    padding: 0.5em 1.3em;
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.2), 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.14), 0 0.125rem 0.0625rem -0.0625rem rgba(0, 0, 0, 0.12);
    margin-bottom: 2em;
}

.title {
    font-family: 'CardTitle', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 0.2em;
}

.more {
    margin-top: 0.5em;
}

.simple .buttonsActions {
    margin-left: -0.6em;
    margin-bottom: 0.1em;
}