article {
    margin-top: 0.6em !important;
}

article>form>div,
article>form,
article>button {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.extraSignin {
    text-align: center;
    font-size: 90%;
}

.extraSignin a {
    position: relative;
    text-decoration: none;
}