.metas {
    font-style: italic;
    font-size: 95%;
    font-weight: bold;
}

.price {
    font-size: 95%;
}

.description {
    margin-top: 0.2rem;
}

.description p {
    margin: 0.3rem 0;
    text-align: justify;
}

.note {
    margin-top: .5rem;
}