.metas {
    font-style: italic;
    font-size: 95%;
    font-weight: bold;
}

.price {
    font-size: 95%;
}

.description {
    margin-top: 0.2em;
}

.description p {
    margin: 0.3em 0;
    text-align: justify;
}