.wrapper {
    position: fixed;
    z-index: 2000;
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    display: flex;
}

.wrapper.top {
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
}

.top.visibilityOff {
    transform: translate(0px, -100px);
}

.top.visibilityOn {
    transform: translate(calc(0px + var(--translate-offsetX)), calc(10px + var(--translate-offsetY)));
}

.wrapper.topLeft {
    top: 0;
    left: 0;
}

.topLeft.visibilityOff {
    transform: translate(4%, -100px);
}

.topLeft.visibilityOn {
    transform: translate(calc(4% + var(--translate-offsetX)), calc(10px + var(--translate-offsetY)));
}

.wrapper.topRight {
    top: 0;
    right: 0;
}

.topRight.visibilityOff {
    transform: translate(-4%, -100px);
}

.topRight.visibilityOn {
    transform: translate(calc(-4% + var(--translate-offsetX)), calc(10px + var(--translate-offsetY)));
}

.wrapper.right {
    right: 0;
    top: 50%;
}

.right.visibilityOff {
    transform: translate(120%, -50%);
}

.right.visibilityOn {
    transform: translate(calc(-4% + var(--translate-offsetX)), calc(-50% + var(--translate-offsetY)));
}

.wrapper.left {
    left: 0;
    top: 50%;
}

.left.visibilityOff {
    transform: translate(-120%, -50%);
}

.left.visibilityOn {
    transform: translate(calc(4% + var(--translate-offsetX)), calc(-50% + var(--translate-offsetY)));
}

.wrapper.bottom {
    bottom: 0;
    justify-content: center;
    left: 0;
    width: 100%;
}

.bottom.visibilityOff {
    transform: translate(0px, 100px);
}

.bottom.visibilityOn {
    transform: translate(calc(0px + var(--translate-offsetX)), calc(-10px + var(--translate-offsetY)));
}

.wrapper.bottomLeft {
    bottom: 0;
    left: 0;
}

.bottomLeft.visibilityOff {
    transform: translate(4%, 100px);
}

.bottomLeft.visibilityOn {
    transform: translate(calc(4% + var(--translate-offsetX)), calc(-10px + var(--translate-offsetY)));
}

.wrapper.bottomRight {
    bottom: 0;
    right: 0;
}

.bottomRight.visibilityOff {
    transform: translate(-4%, 100px);
}

.bottomRight.visibilityOn {
    transform: translate(calc(-4% + var(--translate-offsetX)), calc(-10px + var(--translate-offsetY)));
}

.toast {
    min-width: 340px;
    border-radius: 4px;
    color: #fff;
    padding: 6px 16px;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(49, 49, 49);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.toast.success {
    background-color: #43a047;
}

.toast.error {
    background-color: #d32f2f;
}

.toast.warning {
    background-color: #ffa000;
}

.toast.info {
    background-color: #1976d2;
}

.toast .icon_success,
.toast .icon_error,
.toast .icon_warning,
.toast .icon_info {
    width: 1.5em;
    height: 1.5em;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 1em;
    position: relative;
    top: -2px;
}

.toast>div {
    padding: 8px 0;
    display: inline-block;
}

button.close {
    margin-left: auto;
    color: #ffffff;
}

button.close:focus:before {
    border: rgb(49, 49, 49);
}

.toast.success button.close:focus:before {
    border-color: #43a047;
}

.toast.error button.close:focus:before {
    border-color: #d32f2f;
}

.toast.warning button.close:focus:before {
    border-color: #ffa000;
}

.toast.info button.close:focus:before {
    border-color: #1976d2;
}