@import 'assets/fonts/fonts.css';

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#root {
    background: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

em.searchTerm {
    background-color: #ffc168;
}