.form {
    display: block;
    position: relative;
}

.form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .3rem 1.7rem;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
}

.searchBox {
    align-items: center;
}

.searchIcon {
    position: absolute;
    z-index: 1;
    width: 1em;
    height: 1em;
    top: 50%;
    transform: translateY(-50%);
    left: .3rem;
    fill: #c4c8d8;
}

.reset {
    position: absolute;
    min-height: 15px;
    min-width: 15px;
    top: 50%;
    right: .3rem;
    transform: translateY(-50%);
    display: none;
    color: #AAA;
}

.isVisible {
    display: flex;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.facetsButton {
    min-width: 32px;
    font-size: 0.7em;
    color: #AAA;
}

.facet {
    display: flex;
    font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
    border: 1px solid #dddddd;
    margin: 1em 0.2em;
    padding: 0.5em;
}

.facet:first-child {
    margin-top: 0.2em;
}

.facet:last-child {
    margin-bottom: 0.2em;
}

.facet legend {
    font-family: 'RobotoBold', Arial, Helvetica, sans-serif;
}

.facet label {
    display: block;
    cursor: pointer;
    margin: 0.2em 0;
    position: relative;
    padding-left: 1.4em;
    font-size: .8em;
}

.facet label input[type="checkbox"]:checked+span {
    font-weight: bold;
}

.facet label input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.facet label input[type="checkbox"]+span::before {
    font-family: "search";
    content: "\f096";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    font-weight: normal;
}

.facet label input[type="checkbox"]:checked+span::before {
    font-family: "search";
    content: "\e800";
    font-weight: normal;
    color: #2b7a77;
}

.aggCount::before {
    content: "(";
}

.aggCount::after {
    content: ")";
}

.aggCount {
    margin: 0 0.5em;
    color: #999;
}

.inBetweenFacet {
    display: flex;
    align-items: center;
}

.inBetweenPart {
    display: block;
    position: relative;
    padding: 0 0 0 7px;
    color: #3b3b3b;
    border-radius: 3px;
    border: 1px solid #c7c6c7;
    background-color: #f4f4f4;
    flex: 1 1 0%;
}

.inBetweenContainer {
    display: table;
    width: 100%;
    height: 100%;
}

.inBetweenInput {
    height: 34px;
    display: table-cell;
    width: inherit;
    height: 34px;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    box-sizing: inherit;
}

.inBetweenInput input {
    text-align: right;
    width: inherit;
    border: 0;
    color: #3b3b3b;
    line-height: 22px;
    background: transparent;
    outline: none;
    font-family: 'Open Sans', Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: color .25s cubic-bezier(.25, .8, .25, 1);
    padding: 0;
    margin: 0;
}

.inBetweenInput input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inBetweenInput input[type="number"] {
    -moz-appearance: textfield;
}

.divider {
    position: relative;
    top: -1px;
    margin: 0px 8px;
}

.unit {
    display: table-cell;
    padding-left: 8px;
    padding-right: 7px;
    vertical-align: middle;
    color: rgb(120, 120, 120);
}

.usedFacets {
    width: 25em;
}

.usedFacets>.title {
    font-family: 'title', Arial, Helvetica, sans-serif;
    width: 25em;
}

.facetType>.title {
    font-weight: bold;
}

.facetType>.title::after {
    content: '-';
    padding-left: 0.3em;
}

.facetType>.content {
    padding-left: 0.3em;
}

.facetType>.content>span::after {
    content: ', '
}

.facetType>.content>span:last-child::after {
    content: ''
}